body {
    background-color: #F3F3F3;
}

header {
    background-color: #fff;
    height: 70px;
    width: 100%;
    position: fixed;
    padding-left: 21px;
    box-shadow: 0px 4px 6px 0px #0000000D;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    align-items: center;
}

.logo {
    height: 53px;
    width: 75px;
}

#people {
    height: 45px;
    width: 45px;
    padding-right: 50px;
}

.main-chat {
    position: fixed;
    margin-top:106px;
    height: auto;
    width: 100%;
}

.msg {
    background-color: #DCDCDC;
    width: 100%;
    height: 40px;
    border-radius: 2px;
    margin-bottom: 5px;
}

footer {
    text-align: center;
    background-color: #f34a4a;
    position: fixed;
    bottom: 0;
    height: 92px;
    width: 100%;
}