body {
    width: 100vw - 20px;
    height: 100vh - 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background-color: #f3f3f3;
    box-sizing: border-box;
    margin: 0;
  }
  
  .header {
    width: 100%;
    height: 80px;
    padding: 0 22px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
  }
  
  .icon-sidebar {
    width: 42.19px;
    height: 30.94px;
    padding-right: 40px;
  }
  
  .header-logo {
    width: 75px;
    height: 53px;
  }
  
  .container-messages {
    width: 100%;
    height: 100%;
    padding: 106px 0 90px 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    box-sizing: border-box;
    overflow-y: auto;
  }
  
  .display-message {
    width: 100%;
    min-height: 40px;
    padding: 5px 9px;
    display: flex;
    align-items: flex-start;
    gap: 4px;
    border-radius: 2px;
    font-size: 14px;
    line-height: 20px;
    word-wrap: break-word;
    box-sizing: border-box;
  }
  
  .time {
    color: #aaaaaa;
    font-size: 12px;
  }
  
  .status-message {
    background-color: #dcdcdc;
  }
  
  .regular-message {
    background-color: #ffffff;
  }
  
  .private-message {
    background-color: #ffdede;
  }
  
  .bold-text {
    font-weight: 700;
  }
  
  .sidebar {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
  }
  
  .right-side {
    width: 35%;
    height: 100%;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    overflow-y: auto;
    box-sizing: border-box;
  }
  
  .left-side {
    width: 65%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .contacts,
  .visibility {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    box-sizing: border-box;
  }
  
  .contacts {
    height: 84px;
  }
  
  .visibility {
    height: 66px;
  }
  
  .users-contacts,
  .public,
  .private {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    box-sizing: border-box;
    cursor: pointer;
  }
  
  .selection-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .contact-icon {
    font-size: 25px;
  }
  
  .visibility-icon {
    font-size: 22px;
  }
  
  .selected {
    color: #28bb25;
    font-size: 25px;
  }
  
  .footer {
    width: 100vw;
    height: 80px;
    padding: 0 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    box-sizing: border-box;
  }
  
  .send-message-container {
    width: calc(100% - 26px);
  }
  
  .send-message-input {
    width: 100%;
    font-size: 18px;
    line-height: 21px;
    outline: none;
    border: none;
  }
  
  .send-message-input::placeholder {
    color: #000000;
    font-style: italic;
  }
  
  .send-message-to {
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    color: #505050;
  }
  
  .send-message-icon {
    width: 26px;
    height: 26px;
  }
  
  .hidden {
    display: none;
  }
  
  @media (max-width: 700px) {
    .right-side {
      width: 66.67%;
    }
    .left-side {
      width: calc(100% - 66.67%);
    }
  }